@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body
{
    overflow-x: hidden;
    
}
.cal{
	padding: 5px;
	position: relative;
	background: linear-gradient(45deg, #d0e69d, #f3d1a9, #ee9696, #b7b8eb, #e0e4e1, #d7e1ec);
	background-size: 500% 500%;
	animation: change-gradient 3s ease-in-out infinite;
}
@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
h1
{
    text-align: center;
    margin-top: 10px;
}
h6
{
    text-align: center;
    margin-bottom: 20px;
    
}
.h{
    margin-bottom: 5px;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    background:  rgb(140, 203, 214);
    overflow: hidden;
    box-sizing:border-box;
    /*background-image: url('eden.jpg');*/
    background-size: cover;
    padding: 10px;
    width: 100%;
    
}

.danger
{
    color: red;
}
.safe
{
    color: green;
}
/*
section::before
{
    content: '';
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e98d89;
    clip-path: circle(45% at 100% -20%);
}

section::after
{
    content: '';
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47aafa;
    clip-path: circle(45% at 0% 100%)   ;
}
*/
.alert1 {
  position: absolute;
  z-index: 10;
  right: 0px;
  width: max-content;
  top:5px;
  padding: 20px 40px;
  background: #ffdb9b;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  color: black;
  opacity:0;
  pointer-events: auto;
}

.alert1.showAlert
{
    opacity: 1;
    pointer-events: auto;
}

.alert1.show
{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%
    {
        transform: translateX(100%);
    }
    40%
    {
        transform: translateX(-10%);
    }
    80%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-10px);
    }

}



.alert1.hide
{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%
    {
        transform: translateX(-10px);
    }
    40%
    {
        transform: translateX(0%);
    }
    80%
    {
        transform: translateX(-10%);
    }
    100%
    {
        transform: translateX(100%);
    }

}


.alert1 .fa-exclamation-circle
{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert1 .msg
{
    padding: 0 15px;
    font-size: 0.9rem;
    color: #ce8500;
}

.closebtn {
  position: absolute;
  right: 0px;
  padding: 20px 18px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  
  cursor: pointer;
  
}



.closebtn:hover {
  color: black;
}

.foot
{
    text-align: center;
    font-size: black;
}

.container
{

    position: relative;
    width: 60%;
    height: 400px;
    z-index: 10;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container .card
{
    position: relative;
    width: 100%;
    height: max-content;
    padding: 20%;
    margin: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(175, 91, 91, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.container .card .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;   
}



.container .card .imgBx img
{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;   

}

.container .card:hover .imgBx img
{
    transform: translateY(-50px) scale(1.5)

}

.container .card .imgBx img
{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;   

}
.container .card .imgBx h4
{
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.container .card .imgBx h5
{
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.container .card .imgBx .h h6
{
    color: #fff;
    font-weight: 600;
    text-align: center;
}

label
{
    color: #fff;
    font-weight: 600;
}
.container .card
{
    position: relative;
    width: 100%;
    height: 350px;
    margin: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.container .card .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;   
}

.container .card1 .imgBx .mal
{
    text-align: center;
}

.message-box{
    margin-top: 25%;
    background: rgba(255, 255, 255, 0.03);
    color: black;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


.btn-sim
{
    
    position: relative;
    width: 30%;
    padding: 0.1em;
    margin-top: 1%;
    margin-bottom: 20%;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    border:0;
    cursor: pointer;
    border-radius: 20px;

}
.btn-sim::before,
.btn-sim::after{
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.btn-sim:hover::before{
    filter: blur(5px);
}
.btn-sim:hover::after
{
    filter: blur(15px);
}
.btn-sim:hover
{
   animation: hue 3s linear infinite; 
}
@keyframes hue {
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}


.btn-sim span
{
    position: relative;
    z-index: 3;
    display: block;
    padding: 0.8rem;
    font-family:'Montserrat',sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #2c2e36;
    border-radius: 18px;

}

.copy
{
    font-size: 1rem;
}

@media (max-width: 517px) {

    .section
    {
        padding: 0px;
    }
    .container {
        flex-direction: column;
        width: 100%;
    }
    .container .card1
    {
        width: 100%;
    }

    form{
        width: 100%;
    }
    .container .card .imgBx
    {
        width: 200px;
        height: 273px;
    }
    .btn-sim
    {
        font-size: 0.8rem;
        width: 20%;
    }
    .alert1
    {
        width: 0;
        display: none;
    }
   
  }


  @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .container .card1
    {
        width: 100%;
    }

    form{
        width: 100%;
    }
    
    
  }


















