<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spam Detector</title>
       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "/static/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/circle-cropped (2).png"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        
    </head>

    <body>

        <div class="cal">
            <h1 style="position: relative;;z-index: 12;">Spam SMS Detector</h1>
            <h6 style="position: relative;;z-index: 12;text-align: center;">A Machine Learning Web App, Built with Flask, Deployed using Heroku.</h6>
        </div>
        <div class="alert1 hide" id="a">
            <span class="fas fa-exclamation-circle"></span>
            <span class="closebtn" onclick="closebtn()">&times;</span> 
            <span class="msg" id="content">Warning! This is Error Message</span>
        </div>
        <section>
            
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        
                        <form action="{{ url_for('predict') }}" method="POST">
                            <textarea class='message-box' name="message" placeholder="Enter Your Message Here......" style="height:200px;width: 40rem;" ></textarea><br/>
                        
                            <div style="text-align: center;">
                                <button type="submit" class="btn-sim" ><span>C H E C K</span></button>  
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="h">
                    {% if msg==1 %}
				        <h4>Prediction: <span class='danger'>Gotcha! This is a SPAM message.</span></h4>
    				{% elif msg==0 %}
	        			<h4>Prediction: <span class='safe'>Great! This is NOT a spam message.</span></h4>
			        {% endif %}
                    <br>
                    </div> 
            </div>
            

            
        </section>
       

        <footer class="bg-dark text-center text-white" style="position: relative ;z-index: 8;height: 20%;box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(15px);">
            <!-- Grid container -->
            
                <br>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCHN3rSoVccktBH9KMa9OIAA" role="button">
                    <i class="fab fa-youtube"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/rohan-patil-107163184/" role="button">
                    <i class="fab fa-linkedin-in"></i>
                </a>

      
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Rohanvp07" role="button">
                    <i class="fab fa-github"></i>
                </a>

                <div class="copy">
                   <span>Made with ❤️ by </span><a class="text-light" href="https://www..com/in/rohan-patil-107163184/">Rohan Patil</a>
                  </div>
                
                  <br>
        </footer>        
    </body>
</html>
